body{
	background-image: url("background.jpg");
	color: white;
	font-family: 'Cairo', sans-serif;

}

h1{
	font-family: 'Trochut', cursive;
	color:white;
	text-align: center;
	padding:20px;
	font-size: 50px;
}

table{
	padding: 20px;
}

.profiles{
	text-align: center;
}