body{
	background-image: url("background.jpg");
	color: white;
	font-family: 'Cairo', sans-serif;

}

h1{
	font-family: 'Trochut', cursive;
	color:white;
	text-align: center;
	padding:20px;
	font-size: 50px;
}

table{
	padding: 20px;
}

.heading{
	background-color: white;
	color: black;
	text-align: left;
	padding-left: 10px;
	padding-right: 20px;
	font-weight: bolder;
}

th{
	border: 2px solid white;
	padding-left: 10px;
	padding-right: 10px;
}